.Home__Avatar__Question {
    width: 100%;

    display: flex;
    align-items: end;
    flex-direction: column;

    padding: 0 1.2rem;

    box-sizing: border-box;

}

.Home__Avatar__Answer {
    width: 100%;

    display: flex;
    align-items: start;
    flex-direction: column;

    padding: 0 1.2rem;

    box-sizing: border-box;
}

.Home__QuestionContainer {
    height: calc(100vh - 75px - 5.35rem);

    overflow: auto;

    padding-top: 2rem;

    box-sizing: border-box;
}