.App {
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; */
}

.App__cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
