.Navbar {
    height: 5rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: rgb(96, 100, 100);
}

.Navbar__img {
    width: 200px;
}