.Header__container {
    height: 4rem;
    background-color: darkorange;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}