.Todo {
    min-height: 4rem;
    display: flex;
    align-items: center;
    transition: all .2s;
    padding: .85rem 1rem;
    margin: .3rem;
    border: 1px solid black;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    background-color: #00f5d4;
}

.Todo:hover {
    transform: scale(1.05);
}

.Todo__label--underlined {
    text-decoration: line-through;
}

.Todo__label {
    display: block;
    width: 17rem;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    padding-left: 1.5rem;
    font-weight: bold;
    text-align: justify;
}

.--pointer {
    cursor: pointer;
}

.Todo--disabled {
    background-color: gray;
    opacity: .5;
}